.cls-1 {
    color: #007aff;
}

.cls-2 {
    fill: url(#linear-gradient);
}

.cls-3 {
    fill: url(#linear-gradient-2);
}

.cls-4 {
    fill: url(#linear-gradient-3);
}

.cls-5 {
    fill: url(#linear-gradient-4);
}

.cls-6 {
    fill: url(#linear-gradient-5);
}

.cls-7 {
    fill: url(#linear-gradient-6);
}

.cls-8 {
    fill: url(#linear-gradient-7);
}

.cls-9 {
    fill: #fff;
}

.cls-10,
.cls-9 {
    opacity: 0.2;
}

.cls-10 {
    fill: #0d206d;
}

.size {
    width: 250px;
    height: 25px;
}
